.TodoEditor{
    display: flex;
    gap: 10px;
}

.TodoEditor input{
    flex: 1;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.TodoEditor button{
    cursor: pointer;
    background-color: rgb(37, 147, 255);
    border-radius: 5px;
    border: 1px solid #eee;
    color: #fff;
    width: 80px;
}